{% load asset %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Northwestern Study Abroad Guide</title>
  <style type="text/css">
.subunit {
  fill: #777;
  stroke: #ccc;
}
.subunit:hover {
  fill: #aaa;
}

.place-label {
  font: 16px sans-serif;
}
  </style>
</head>
<body>
{% asset 'js/d3.min.js' %}
{% asset 'js/d3.geo.projection.min.js' %}
{% asset 'js/topojson.min.js' %}
<script type="text/javascript">
var width = 960,
    height = 600;

var svg = d3.select("body").append("svg")
            .attr('width', width)
            .attr('height', height);

/* JavaScript goes here. */
d3.json('/static/continents-topojson.json', function(error, continents) {
    var subunits = topojson.feature(continents, continents.objects.layer1);
    var projection = d3.geo.times()
                           .rotate([-11.4])
                           .scale(180)
    var path = d3.geo.path()
                     .projection(projection);

    /* draw continents */
    svg.selectAll('.subunit')
        .data(subunits.features)
      .enter().append('path') 
        .attr('class', 'subunit')
        .attr('d', path);
});
</script>
</body>
</html>
