{% load asset %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Northwestern Study Abroad Guide</title>
  <style type="text/css">
.subunit {
  fill: #777;
  stroke: #ccc;
}
.subunit:hover {
  fill: #aaa;
}

.place-label {
  font: 16px sans-serif;
}
  </style>
</head>
<body>
{% asset 'js/d3.min.js' %}
{% asset 'js/topojson.min.js' %}
<script type="text/javascript">
var width = 960,
    height = 600;

var svg = d3.select("body").append("svg")
            .attr('width', width)
            .attr('height', height);

/* JavaScript goes here. */
d3.json('/static/world.json', function(error, world) {
    var subunits = topojson.feature(world, world.objects.subunits);
    var projection = d3.geo.mercator()
                           .scale(120)
                           .translate([width/2, height/1.5]);
    var path = d3.geo.path()
                     .projection(projection);
    svg.append('path')
       .datum(subunits)
       .attr('d', path);

    /* countries */
    svg.selectAll('.subunit')
        .data(topojson.feature(world, world.objects.subunits).features)
      .enter().append('path') 
        .attr('class', 'subunit')
        .attr('d', path);
});
</script>
</body>
</html>
