{% extends 'base.html' %}
{% block title %}
{{ place.name }} | Northwestern Study Abroad Guide
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>{{ place.name }}</h1>
    <p class="lead">Looking to travel to {{ place.name }} for a weekend?</p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <img src="http://placekitten.com/300/200" alt="" />
    <p>Above is a google map</p>
    <p>Travel link</p>
  </div>
  <div class="span4">
    <img src="http://placekitten.com/300/200" alt="" />
    <p>Above is a google map</p>
    <p>Travel link</p>
  </div>
  <div class="span4">
    <img src="http://placekitten.com/300/200" alt="" />
    <p>Above is a google map</p>
    <p>Travel link</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Do</h2>
    <p class="lead">Links to other stuff</p>
  </div>
</div>


{% endblock %}
